In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
stocks = pd.read_csv("stock data.csv")
stocks = stocks.drop(columns=['PERMNO','RET']).dropna()
stocks = stocks[stocks['TICKER']!='LEN']

prices = stocks.drop_duplicates().pivot(index='date', columns='TICKER', values='PRC')
prices.index = pd.to_datetime(prices.index, format='%m/%d/%Y')
prices = prices.sort_index()
prices.reset_index(inplace=True)
prices = prices.dropna(axis=1)

indexes = pd.read_csv("index data.csv")
indexes['date'] = pd.to_datetime(indexes['date'])
indexes = indexes.drop(columns=['PERMNO','RET']).dropna().pivot(index='date', columns='TICKER', values='PRC')
indexes.reset_index(inplace=True)

In [3]:
stockToIndexMap = {'CMCSA':'XLY', 'SBUX':'XLY', 'F':'XLY', 'D':'XLU', 
    'AEP':'XLU', 'PG':'XLP', 'COKE':'XLP','PEP':'XLP', 'CL':'XLP','MSFT':'XLK',
    'INTC':'XLK', 'CSCO': 'XLK', 'ORCL':'XLK', 'T':'XLK', 'VZ':'XLK', 
    'HON':'XLI', 'JPM':'XLF', 'WFC':'XLF', 'IP':'XLB', 'WY':'IYR',
    'PLD':'IYR', 'VTR':'IYR', 'NTRS':'KBE', 'FITB':'KBE', 'C':'KBE',
    'PNC':'KBE', 'STT':'KCE', 'IVZ':'KCE', 'LAZ':'KCE', 'TOL':'XHB',
    'JCI':'XHB', 'MAS':'XHB', 'PHM':'XHB', 'ODP':'XRT',
    'URBN':'XRT', 'ADI':'XSD', 'HAL':'XES', 'PTEN':'XES'}

In [7]:
for stock in stockToIndexMap.keys():
    data = (prices.copy()[['date',stock]].merge(indexes.copy()[['date',stockToIndexMap[stock]]], on='date', how='inner'))
    data[stock] = data[stock].abs()
    data[stockToIndexMap[stock]] = data[stockToIndexMap[stock]].abs()
    data.to_csv(f'stockandETF/{stock}.csv', index=False)

In [5]:
indexes

TICKER,date,IYR,KBE,KCE,XES,XHB,XLB,XLF,XLI,XLK,XLP,XLU,XLV,XLY,XME,XRT,XSD
0,2010-01-04,45.81,21.71,37.7100,29.48,15.32,34.02,14.69,28.32,23.27000,26.67,31.08,31.61000,30.00000,54.22,35.94,47.95000
1,2010-01-05,45.92,22.18,37.9400,30.21,15.43,34.13,14.96,28.42,23.24000,26.68,30.71,31.30000,30.11000,55.00,36.17,48.05000
2,2010-01-06,45.90,22.47,37.7600,30.79,15.51,34.71,14.99,28.48,22.98000,26.66,30.89,31.62000,30.15000,57.16,36.50,48.07000
3,2010-01-07,46.31,23.41,37.9400,30.81,16.15,34.44,15.31,28.79,22.89000,26.66,30.75,31.73000,30.40000,56.74,36.60,47.62000
4,2010-01-08,46.00,23.32,37.9400,31.46,16.22,34.92,15.22,29.25,23.04000,26.57,30.72,31.78000,30.39000,58.73,36.52,48.26000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,2023-12-22,90.78,45.97,101.1460,85.24,95.60,85.60,37.34,113.13,192.05000,71.22,62.62,135.02000,179.48000,60.77,72.04,225.64000
3518,2023-12-26,91.47,46.58,101.8734,87.58,96.14,86.00,37.49,113.93,192.85001,71.52,63.00,135.32001,180.24001,61.27,72.71,229.28999
3519,2023-12-27,91.95,46.54,102.6700,86.88,96.47,86.21,37.61,114.10,192.84000,71.85,62.96,135.89000,180.86000,61.40,73.12,229.06000
3520,2023-12-28,92.46,46.62,102.8064,85.30,96.18,85.88,37.72,114.13,193.07001,71.88,63.41,136.24001,179.92000,60.74,73.11,228.27000
3521,2023-12-29,91.41,46.02,101.9717,84.51,95.66,85.54,37.60,113.99,192.48000,72.03,63.33,136.38000,178.81000,59.83,72.32,224.78999

In [6]:
s= 'COKE'
test = prices.copy()[['date',s]].merge(indexes.copy()[['date',stockToIndexMap[s]]], on='date', how='inner')